<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pets-R-Us - Book Appointment</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/site.css">
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h2>Book Appointment</h2>
            <form action="/appointment" method="POST">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
                <br>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="service">Service:</label>
                <select id="service" name="service" required>
                    <% services.forEach(function(service) { %>
                        <option value="<%= service.value %>"><%= service.text %></option>
                    <% }) %>
                </select>
                <br>
                <button type="submit">Book Appointment</button>
            </form>
        </main>
        <%- include('footer') %>
    </body>
</html>