<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pets-R-Us - Boarding</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/site.css">
    </head>
    <body>
        <%- include('header') %>

        <main>
            <h2>Boarding</h2>
            <p>At Pets-R-Us, we provide exceptional boarding services for your beloved pets. Our dedicated staff ensures that your furry friends receive the utmost care and attention while you are away.</p>

            <h3>Pricing</h3>
            <p>Prices for boarding based on the number of dogs and duration:</p>

            <h4>Single Dog</h4>
            <ul>
                <li>Five Nights: $60</li>
                <li>Over Five Nights: $10 per night</li>
            </ul>

            <h4>Two Dog</h4>
            <ul>
                <li>Five Nights: $90</li>
                <li>Over Five Nights: $15 per night</li>
            </ul>

            <h4>Three Dog</h4>
            <ul>
                <li>Five Nights: $145</li>
                <li>Over Five Nights: $25 per night</li>
            </ul>

            <p>Our boarding services include comfortable accommodations, regular feeding and exercise, and personalized attention for each pet. Rest assured that your pets are in safe hands during their stay at Pets-R-Us.</p>
        </main>

        <%- include('footer') %>

    </body>

</html>