<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pets-R-Us - Grooming</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/site.css">
    </head>
    <body>
        <%- include('header') %>
        <main>
            <h2>Grooming Services</h2>
            <p>At Pets-R-Us, we offer a wide range of professional grooming services to keep your pets looking and feeling their best. Our experienced groomers are dedicated to providing exceptional care and attention to detail. Below are some of our popular grooming services:</p>
            <ul>
                <li>
                    <h3>Basic Bathing</h3>
                    <p>Includes a soothing bath, gentle shampoo, conditioning, blow-dry, brushing, and nail trimming. Perfect for maintaining your pet's hygiene.</p>
                    <p>Price: $60</p>
                </li>
                <br>
                <li>
                    <h3>De-Shedding Treatment</h3>
                    <p>Specifically designed for pets with heavy shedding, this treatment reduces shedding and promotes a healthier coat. Includes a thorough brushing, shedding treatment, and bath.</p>
                    <p>Price: $40</p>
                </li>
                <li>
                    <h3>Teeth Cleaning</h3>
                    <p>Maintain your pet's dental health with our professional teeth cleaning service. Our groomers use safe and effective techniques to clean your pet's teeth and freshen their breath.</p>
                    <p>Price: $25</p>
                </li>
                <li>
                    <h3>Flea and Tick Treatment</h3>
                    <p>Maintain your flea and tick levels to zero with our homemade shampoo.</p>
                    <p>Price: $100</p>
                </li>
            </ul>
        </main>
        <%- include('footer') %>
    </body>
</html>