<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pets-R-Us - Grooming</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <header>
            <h1>Pets-R-Us - Grooming</h1>
            <ul>
                <li>Home</li>
                <li>Grooming</li>
            </ul>
        </header>
        <main>
            <h2>Grooming Page</h2>
            <p></p>
        </main>
        <footer>
            <p>&copy; 2023 Pets-R-Us. All rights reserved</p>
        </footer>
    </body>
</html>