<header>
    <h1>Pets-R-Us</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/grooming">Grooming</a></li>
        <li><a href="/boarding">Boarding</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="/customer-list">Customer List</a></li>
    </ul>
</header>