<header>
    <h1>Pets-R-Us - Grooming</h1>
    <ul>
        <li><a href="index.ejs">Home</a></li>
        <li><a href="grooming.ejs">Grooming</a></li>
        <li><a href="boarding.ejs">Boarding</a></li>
        <li><a href="training.ejs">Training</a></li>
    </ul>
</header>