<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Pets-R-Us - Training</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/site.css">
    </head>

    <body>
        <%- include('header') %>
        <main>
            <h2>Training</h2>
            <p>At Pets-R-Us, we offer comprehensive training programs to help your pets develop good behavior, obedience, and social skills. Our experienced trainers work closely with you and your pets to ensure a positive and successful training experience.</p>

            <h3>Meet the Trainer</h3>
            <div class="trainer">
                <img src="/images/Trainer.jpg" alt="Trainer Image">
                <p>John Smith is a certified dog trainer with over 10 years of experience. He has a deep understanding of canine behavior and uses positive reinforcement techniques to train dogs effectively. John has successfully trained numerous dogs of different breeds and ages, helping them become well-mannered and obedient companions.</p>
            </div>

            <h3>Pricing</h3>
            <p>Our training programs offer different tiers for puppies, adolescents, and adult dogs. Each tier includes two services to address specific training needs. Here are the pricing details:</p>

            <h4>Puppy Training</h4>
            <ul>
                <li>Basic Obedience: $160</li>
                <li>Potty Training: $100</li>
            </ul>

            <h4>Adolescent Training</h4>
            <ul>
                <li>Advance Obedience: $240</li>
                <li>Leash Walking: $100</li>
            </ul>

            <h4>Adult Training</h4>
            <ul>
                <li>Behavior Modification: $300</li>
                <li>Agility Training: $100</li>
            </ul>

            <p>Our training programs are designed to cater to the specific needs and age groups of dogs. We focus on positive reinforcement and personalized training techniques to ensure the best results for your furry friends.</p>
        
        </main>
    
        <%- include('footer') %>

    </body>

</html>
            